*.iml
.gradle
local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.log
*.jks
*.keystore
*.hprof
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
captures/
.externalNativeBuild/
.cxx/
*.apk
output.json