<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <application
    android:name=".MyApplication"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:theme="@style/Theme.CuteGif"
    android:usesCleartextTraffic="false">
    <activity
      android:name=".DonateActivity"
      android:exported="false"
      android:launchMode="singleTask"
      android:theme="@style/Theme.CuteGif.Dialog" />
    <activity
      android:name=".GifToVideoActivity"
      android:exported="false"
      android:launchMode="singleTask"
      android:theme="@style/Theme.CuteGif.Dialog" />
    <activity
      android:name=".VideoToGifVideoFallbackActivity"
      android:exported="false"
      android:launchMode="singleTask"
      android:theme="@style/Theme.CuteGif.Dialog" />
    <activity
      android:name=".AboutActivity"
      android:exported="false"
      android:launchMode="singleTask"
      android:theme="@style/Theme.CuteGif.Dialog" />
    <activity
      android:name=".VideoToGifPerformerActivity"
      android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|density|screenSize|smallestScreenSize"
      android:exported="false"
      android:launchMode="singleTask"
      android:theme="@style/Theme.CuteGif.Dialog" />
    <activity
      android:name=".GifSplitActivity"
      android:exported="false"
      android:launchMode="singleTask" />
    <activity
      android:name=".AddTextActivity"
      android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|density|screenSize|smallestScreenSize"
      android:exported="false"
      android:launchMode="singleTask"
      android:screenOrientation="portrait"
      android:theme="@style/Theme.CuteGif.Dialog"
      tools:ignore="LockedOrientationActivity" />
    <activity
      android:name=".VideoToGifActivity"
      android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|density|screenSize|smallestScreenSize"
      android:exported="false"
      android:launchMode="singleTask"
      android:screenOrientation="portrait"
      tools:ignore="LockedOrientationActivity" />
    <activity
      android:name=".EulaActivity"
      android:exported="false"
      android:launchMode="singleTask" />
    <activity
      android:name=".AppCrashedActivity"
      android:exported="false"
      android:theme="@style/Theme.CuteGif.Dialog" />
    <activity
      android:name=".FileSavedActivity"
      android:exported="false"
      android:launchMode="singleTask"
      android:theme="@style/Theme.CuteGif.Dialog" />
    <activity
      android:name=".MainActivity"
      android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|density|screenSize|smallestScreenSize"
      android:exported="true"
      android:screenOrientation="portrait"
      tools:ignore="LockedOrientationActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter tools:ignore="AppLinkUrlError">
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="video/*" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="video/*" />
      </intent-filter>
    </activity>
  </application>

</manifest>